@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Support:</strong> <a href="davemunn36@gmail.com">davemunn36@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="phisigmapideltarho@gmail.com">phisigmapideltarho@gmail.com</a>
</address>