@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}
@if (!Request.IsAuthenticated)
{
    <div class="btn btn-primary">
        <a href="@Url.Action("SignIn", "Home")">Bears Sign-In</a>
    </div>
} else
{

}
@if (!string.IsNullOrWhiteSpace(Request.QueryString["errormessage"]))
{
    <div style="background-color:red;color:white;font-weight: bold;">Error: @Request.QueryString["errormessage"]</div>
}