@model DeltaRhoPortal.Models.ManageViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Manage your account</h4>
    <hr />
</div>
